html,
body {
  background-color: #faf7f2;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

html {
  background-color: #faf7f2;
}

.app {
  background-image: url("public/assets/iteration-1/home-banner.png");
  display: flex;
  flex-direction: column;
  text-align: center;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;

}

.logo {
  font-family: Londrina Solid;
  color: white;
  font-size: 1.5rem;
  margin-top: 20px;
}

.subtitle {
  color: #FDC913;
  font-family: Satisfy;
  margin-bottom: 0;
}

.title {
  color: #FFFFFF;
  font-family: Roboto Condensed;
  font-size: 3rem;
  line-height: 50px;
  letter-spacing: 2.5px;
  margin-top: 0;
  margin-bottom: 10px
}

.btn {
  background-color: #FDC913;
  font-family: Barlow;
  border: none;
  border-radius: 50px;
  color: black;
  font-weight: bold;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.categories ul {
  list-style: none;      
  display: flex;         
  justify-content: center; 
  gap: 30px;             
  padding: 0;
  margin: 0;
}

.categories li {
  display: flex; 
  align-items: center;   
}

.categories a {
  text-decoration: none;
  color:black;
  font-family: "Barlow", sans-serif;
  font-weight:500;
  line-height: 32.4px;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 8px;     
  vertical-align: middle;
}